<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<backgroundcolor>0</backgroundcolor>
	<controls>
		<include>GlobalBackground</include>
		<include>TopAndBottomSeparator</include>
		<control type="label">
			<include>WindowID</include>
			<label>Settings.xml</label>
		</control>
		<control type="label" description="Heading">
			<posx>660</posx>
			<posy>25</posy>
			<align>center</align>
			<width>540</width>
			<font>XLarge</font>
			<label>5</label>
		</control>
		<control type="group" description="Group 9000">
			<visible>Control.IsVisible(9000)</visible>
			<posx>640</posx>
			<posy>75</posy>
			<control type="image" description="Slider">
				<visible>Control.HasFocus(9000)</visible>
				<posx>60</posx>
				<posy>26</posy>
				<width>480</width>
				<height>46</height>
				<texture border="8">img/ButtonFO.png</texture>
				<aspectratio>stretch</aspectratio>
				<animation condition="Container(9000).Position(0)" effect="slide" start="0,0" end="0,0"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(1)" effect="slide" start="0,0" end="0,50"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(2)" effect="slide" start="0,0" end="0,100"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(3)" effect="slide" start="0,0" end="0,150"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(4)" effect="slide" start="0,0" end="0,200"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(5)" effect="slide" start="0,0" end="0,250"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(6)" effect="slide" start="0,0" end="0,300"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(7)" effect="slide" start="0,0" end="0,350"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(8)" effect="slide" start="0,0" end="0,400"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(9)" effect="slide" start="0,0" end="0,450"
					time="100" reversible="true">Conditional</animation>
				<animation condition="Container(9000).Position(10)" effect="slide" start="0,0" end="0,500"
					time="100" reversible="true">Conditional</animation>
			</control>
			<control type="list" id="9000">
				<posx>50</posx>
				<posy>25</posy>
				<width>580</width>
				<height>550</height>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<viewtype label="List">list</viewtype>
				<scrolltime>220</scrolltime>
				<itemlayout width="560" height="50">
					<control type="label">
						<posy>0</posy>
						<posx>30</posx>
						<posy>0</posy>
						<width>440</width>
						<font>Small</font>
						<scroll>false</scroll>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image" description="Icon">
						<posy>14</posy>
						<posx>445</posx>
						<width>25</width>
						<height>25</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<aspectratio>keep</aspectratio>
					</control>
				</itemlayout>
				<focusedlayout width="560" height="50">
					<control type="label">
						<posy>0</posy>
						<posx>30</posx>
						<posy>0</posy>
						<width>440</width>
						<font>Small</font>
						<scroll>false</scroll>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image" description="Icon">
						<posy>14</posy>
						<posx>445</posx>
						<width>25</width>
						<height>25</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<aspectratio>keep</aspectratio>
					</control>
				</focusedlayout>
				<content>
					<item id="0">
						<description>Skin options</description>
						<label>Quartz</label>
						<icon>icons/icon_switch.png</icon>
						<onclick>activatewindow(56)</onclick>
					</item>
					<item id="1">
						<description>Appearance</description>
						<label>480</label>
						<icon>icons/icon_computer_on.png</icon>
						<onclick>activatewindow(AppearanceSettings)</onclick>
					</item>
					<item id="2">
						<description>Videos</description>
						<label>3</label>
						<icon>icons/icon_filming.png</icon>
						<onclick>activatewindow(VideosSettings)</onclick>
					</item>
					<item id="3">
						<description>Music</description>
						<label>2</label>
						<icon>icons/icon_mic_1.png</icon>
						<onclick>activatewindow(MusicSettings)</onclick>
					</item>
					<item id="4">
						<description>Pictures</description>
						<label>1</label>
						<icon>icons/icon_photo.png</icon>
						<onclick>activatewindow(PicturesSettings)</onclick>
					</item>
					<item id="5">
						<description>Addons</description>
						<label>24001</label>
						<icon>icons/icon_attach.png</icon>
						<onclick>activatewindow(AddonBrowser)</onclick>
					</item>
					<item id="6">
						<description>Weather</description>
						<label>8</label>
						<icon>icons/icon_flash.png</icon>
						<onclick>activatewindow(WeatherSettings)</onclick>
					</item>
					<item id="7">
						<description>Network</description>
						<label>705</label>
						<icon>icons/icon_wifi.png</icon>
						<onclick>activatewindow(NetworkSettings)</onclick>
					</item>
					<item id="8">
						<description>System</description>
						<label>13000</label>
						<icon>icons/icon_manage.png</icon>
						<onclick>activatewindow(SystemSettings)</onclick>
					</item>
					<item id="9" description="Profiles">
						<label>13200</label>
						<icon>icons/icon_users.png</icon>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item id="10">
						<description>About System</description>
						<label>$LOCALIZE[138]</label>
						<icon>icons/icon_information.png</icon>
						<onclick>activatewindow(systeminfo)</onclick>
					</item>
				</content>
			</control>
		</control>
		<control type="image" description="Logo">
			<visible>!Container(9000).Position(0)</visible>
			<animation effect="fade" time="100">VisibleChange</animation>
			<posx>170</posx>
			<posy>180</posy>
			<width>326</width>
			<height>80</height>
			<aspectratio align="center" aligny="bottom">scale</aspectratio>
			<texture background="true">img/XbmcLogo.png</texture>
		</control>
		<control type="image" description="Logo reflection">
			<visible>!Container(9000).Position(0)</visible>
			<animation effect="fade" time="100">VisibleChange</animation>
			<posx>170</posx>
			<posy>262</posy>
			<width>326</width>
			<height>80</height>
			<texture background="true" diffuse="img/Reflection2.png" flipy="true">img/XbmcLogo.png</texture>
			<aspectratio>keep</aspectratio>
		</control>
		<control type="image" description="Logo">
			<visible>Container(9000).Position(0)</visible>
			<animation effect="fade" time="100">VisibleChange</animation>
			<posx>80</posx>
			<posy>100</posy>
			<width>500</width>
			<height>256</height>
			<aspectratio align="center" aligny="bottom">keep</aspectratio>
			<texture background="true">special://skin/icon.png</texture>
		</control>
		<control type="image" description="Reflection">
			<visible>Container(9000).Position(0)</visible>
			<animation effect="fade" time="100">VisibleChange</animation>
			<posx>80</posx>
			<posy>357</posy>
			<width>500</width>
			<height>256</height>
			<aspectratio align="center" aligny="top">keep</aspectratio>
			<texture background="true" diffuse="img/Reflection2.png" flipy="true">special://skin/icon.png</texture>
		</control>
		
		<control type="group" description="Items description">
			<posx>110</posx>
			<posy>475</posy>
			<control type="image" description="Splitter">
				<posy>-200</posy>
				<posx>-20</posx>
				<height>256</height>
				<width>480</width>
				<texture flipy="true">img/HSplitter.png</texture>
			</control>
			<control type="label" description="Skin">
				<visible>Container(9000).Position(0)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[20077]. $LOCALIZE[33063]. $LOCALIZE[111].</label>
			</control>
			<control type="label" description="Appearance">
				<visible>Container(9000).Position(1)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[22080] $LOCALIZE[166]. $LOCALIZE[14090]. $LOCALIZE[14081]. $LOCALIZE[24008]</label>
			</control>
			<control type="label" description="Video">
				<visible>Container(9000).Position(2)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[14022]. $LOCALIZE[14086]. $LOCALIZE[14081]. $LOCALIZE[24012]. $LOCALIZE[14087]</label>
			</control>
			<control type="label" description="Music">
				<visible>Container(9000).Position(3)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[14022]. $LOCALIZE[14086]. $LOCALIZE[14081]. $LOCALIZE[15221]. $LOCALIZE[620]. $LOCALIZE[13327]</label>
			</control>
			<control type="label" description="Pictures">
				<visible>Container(9000).Position(4)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[14081]. $LOCALIZE[108] $LOCALIZE[5].</label>
			</control>
			<control type="label" description="Addons">
				<visible>Container(9000).Position(5)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[24033]. $LOCALIZE[24022]. $LOCALIZE[24021]. $LOCALIZE[24034]. $LOCALIZE[25000].</label>
			</control>
			<control type="label" description="Weather">
				<visible>Container(9000).Position(6)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[33063]. $LOCALIZE[5].</label>
			</control>
			<control type="label" description="Network">
				<visible>Container(9000).Position(7)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[14036]. $LOCALIZE[1200]. $LOCALIZE[798].</label>
			</control>
			<control type="label" description="System">
				<visible>Container(9000).Position(8)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[21373]. $LOCALIZE[337]. $LOCALIZE[14094]. $LOCALIZE[14095]. $LOCALIZE[14092]. $LOCALIZE[20100].</label>
			</control>
			<control type="label" description="Profiles">
				<visible>Container(9000).Position(9)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[20096]. $LOCALIZE[20100]. $LOCALIZE[20115].</label>
			</control>
			<control type="label" description="System info">
				<visible>Container(9000).Position(10)</visible>
				<width>440</width>
				<height>150</height>
				<font>Small</font>
				<wrapmultiline>true</wrapmultiline>
				<scroll>false</scroll>
				<aligny>top</aligny>
				<align>center</align>
				<label>$LOCALIZE[154]. $LOCALIZE[705]. $LOCALIZE[1212]. $LOCALIZE[13281].</label>
			</control>
		</control>
		<include>Debug_Grid</include>
	</controls>
</window>
